@import './fonts.scss';
body{
  padding: 50px;
  background: blue;
  font-family:'pfr';
}

.wrapper{
  margin: 0 auto;
  .img-wrapper{
    height: 260px;
  }
  .card-text{
    height: 74px;
    overflow: hidden;
  }
}
